[submodule "epitome/jungle"]
	path = epitome/jungleproto
	# url = git@github.com:hyperboliclabs/jungle.proto.git

	# use https for now to avoid argo issues cloning ssh submodules
	url = https://github.com/hyperboliclabs/jungle.proto.git

	# this is necessary to get argo to pull down only the top-level module
	fetchRecurseSubmodules = false
